[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[requires]
python_version = "3.8"

[packages]
bokeh = "*"
jupyterlab = "*"
jupytext = "*"
matplotlib = "*"
nb-black = "*"
numpy = "*"
pandas = "*"
pynndescent = "*"
scikit-learn = "*"
umap-learn = {extras = ["plot"], version = "*"}

[dev-packages]
